<div class="row">
	<div class="col-lg-12">
		<form class="bs-example bs-example-form" ng-submit="add(newProduct)">
      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="newProduct">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Save</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </form>
  </div>
<div class="row">
	<div class="col-lg-12">
    <div class="highlight product-list">
			<p ng-show="products.length">You now have {{products.length}} items</p>			
			<ul>
			    <li ng-repeat="item in products">
			    	<div class="row">
			    		<div class="col-lg-1 list-number">{{$index}}</div>
			    		<div class="col-lg-9 list-itemname">
				    		{{item}}
				    	</div>
				    	<div class="col-lg-2 list-action">
					    	<button ng-click="remove($index)">Remove</button>
				    	</div>
			    	</div>
			    </li>
			</ul>
		</div>
	</div>
</div>